a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: $primary-font;
  line-height: normal;

  font-size: 1.6rem;
}

.blockHeader {
  margin-bottom: 5rem;
  margin-top: 5rem;
  &-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.6rem;
  }
  &-img {
    margin: 0 auto;
    
  }
}
