section.event 
    +blockHeader("Tin tức & sự kiện")
    .event-container 
        +eventContent("../images/tin_tuc_1.jpg",'cùng Vus vui hội trăng rằm tại"thành phố tuổi thơ"',"event-content-1")
        +eventContent("../images/tin_tuc_2.jpg",'2947 học viên vus nhận chứng chỉ quốc tế cambridge',"event-content-2")
        +eventContent("../images/tin_tuc_3.jpg",'842 học viên của hệ thống anh văn hội việt mỹ(Vus) nhận chứng chỉ',"event-content-3")
        +eventContent("../images/tin_tuc_4.jpg",'gala trao giải vus summer contest 2016 be a star',"event-content-4")
        +eventContent("../images/tin_tuc_5.jpg",'ngày hội dành cho giáo viên anh ngữ - vus tesol 2017',"event-content-5")