footer.footer 
    img.footer-image(src="../images/logo_footer.png")
    p.footer-desc © CÔNG TY CỔ PHẦN QUỐC TẾ ANH VĂN HỘI VIỆT MỸ - giấy chứng nhận doanh nghiệp số:1235415, Ngày cấp giấy phép 24/11/2015, Nơi cấp: SKHDT TP.HCM Trụ sở chính tại 189 Nguyễn Thị Minh Khai, phường Phạm Ngũ Lão, Quận 1, TP. HCM, Điện thoại: 0926453223
        