header.header 
    .header-top
        img(src="../images/logo.png", alt="logo").header-logo
        img(src="../images/slogan.png", alt="").header-slogan
    .header-nav
        i.fa.fa-bars.header-toggle
        ul.header-list 
            +headerItem("Trang chủ","header-item-active")
            +headerItem("Giới thiệu")
            +headerItem("Thành tựu")
            +headerItem("Các khóa học")
            +headerItem("Tin tức và sự kiện")
            +headerItem("Chất lượng giảng dạy")
            +headerItem("Góc giảng viên")
            +headerItem("Gallery")
            +headerItem("Cơ hội nghề nghiệp")
            +headerItem("Liên hệ")
    .header-carousel
        

    