section.program 
    +blockHeader("Các chương trình tại Vus")
    .program-list 
        +programItem("../images/chuong_trinh_1.png","ANH NGỮ MẪU GIÁO SMARTKIDS","Dành cho học viên trẻ em từ 4 đến 6 tuổi")
        +programItem("../images/chuong_trinh_2.png","ANH NGỮ THIẾU NHI SUPERKIDS","Dành cho học viên trẻ em từ 6 đến 11 tuổi")
        +programItem("../images/chuong_trinh_3.png","ANH NGỮ THIẾU NIÊN YOUNG LEADERS","Dành cho học viên thiếu niên từ 11 đến 15 tuổi")
        +programItem("../images/chuong_trinh_4.png","ANH NGỮ GIAO TIẾP QUỐC TẾ EIC","Dành cho học viên người lớn từ 17 tuổi")